@charset "utf-8";






/* html stuff */
html{
    background-color: black;
    color: aliceblue;
    margin-top: 181px;
}

/* nav bar and malkes the nav follow the user  */
div.bar{
    font-family: 'Aldrich', sans-serif;
    border: 5px outset;
    margin: 10px;
    padding: 5px;
    word-spacing: 80px;
    font-size: 20px;
    position: fixed; 
    top: 0;   
    background-color: black;
}
div.bar a{
    margin: 14px;
}

.imgnav{
    height: 65px;
    width: 70px;
}

div.bar a:visited, nav a:link{
    color: 	#f8f8ff;
}
div.bar a:hover, nav a:active{
    color: gold;
}


/* to align pics where they go to */
/* ------------------------------------------------ */


/* aligns the article on where to go */
article{
    text-align: center;
    font-family: 'Aldrich', sans-serif; 
}

article h1, h2, h3{
    font-size: 30px;
}

article p{
    font-size: 20px;
}

.spiddan{
    border: 5px outset;
    height: 35%;
    width: 35%;
}

.drdan{
    border: 3.5px outset;
}



/* ------------------- */
/* footer styles */


footer{
    width: 100%;
}
 
footer p{
    color: whitesmoke;
    font-size: 1em;
    text-align: center;
    background-color: black;
    margin: 0px;
    padding: 10px 0px;
}
 
div.bottom {
    background-color: rgb(10, 10, 10);
    padding: 10px;
    font-size: 20px;
    line-height: 1.8em;
    color: white;
    text-align: center;
    word-spacing: 30px;
    margin: 30px;
}
div.bottom a:visited, nav a:link{
    color: 	#f8f8ff;
}
div.bottom a:hover, nav a:active{
    color: gold;
}

