@charset "utf-8";






/* html stuff */
html{
    background-color: gold;
    color: aliceblue;
}

body{
    width: 85%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
/* nav bar and malkes the nav follow the user  */
div.bar{
    font-family: 'Aldrich', sans-serif;
    border: 5px outset;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 15px;
    word-spacing: 45px;
    font-size: 20px;
    position: fixed; 
    top: 0;   
    background-color: black;
    width: 85%
}
div.bar a{
    text-decoration: none;
}

.imgnav{
    height: 65px;
    width: 70px;
}

div.bar a:visited, nav a:link{
    color: 	#f8f8ff;
}
div.bar a:hover, nav a:active{
    color: gold;
}


/* to align pics where they go to */
/* ------------------------------------------------ */


/* aligns the article on where to go */
article{
    text-align: center;
    font-family: 'Aldrich', sans-serif;
}

article h2, h3, h4{
    font-size: 30px;
}

article h1{
    margin: 80px;
}

article p{
    font-size: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.spiddan{
    border: 5px outset;
    height: 35%;
    width: 35%;
}

.drdan{
    border: 3.5px outset;
}
.boxer{
    border: 3.5px outset;
}


/* ------------------- */
/* footer styles */


footer{
    width: 100%;
}
 
footer p{
    color: whitesmoke;
    font-size: 1em;
    text-align: center;
    background-color: black;
    margin: 0px;
    padding: 10px 0px;
}
 
div.bottom {
    background-color: rgb(10, 10, 10);
    padding: 10px;
    font-size: 20px;
    line-height: 1.8em;
    color: white;
    text-align: center;
    word-spacing: 30px;
    margin: 30px;
}
div.bottom a:visited, nav a:link{
    color: 	#f8f8ff;
}
div.bottom a:hover, nav a:active{
    color: gold;
}

