@charset "utf-8";






/* html stuff */
html{
    background-color: black;
    color: aliceblue;
    margin-top: 181px;
}

/* nav bar and malkes the nav follow the user  */
div.bar{
    font-family: 'Aldrich', sans-serif;
    border: 5px outset;
    margin: 10px;
    padding: 5px;
    word-spacing: 80px;
    font-size: 20px;
    position: fixed; 
    top: 0;   
    background-color: black;
}
div.bar a{
    margin: 14px;
    text-decoration: none;
}

.imgnav{
    height: 65px;
    width: 70px;
}

div.bar a:visited, nav a:link{
    color: 	#f8f8ff;
}
div.bar a:hover, nav a:active{
    color: gold;
}


/* to align pics where they go to */
/* ------------------------------------------------ */


/* aligns the article on where to go */
article h1{
    text-align: center;
    font-size: 42px;
}

/* the caption of wwhat each photo is and their aligment along with font size */
figcaption{
    text-align: center;
    font-family: 'Aldrich', sans-serif;
}

figure img{
    width:50%;
    height: 50%;
    text-align: center;
    border:  grey 5px outset;
}

figure{
    margin:10px;
}


.zoom{
    transition: transform .2s;
}
  
.zoom:hover{
    transform: scale(1.5); 
}

/* defines where and how to use the rows and their sizes so each one is different */
div.row{
    clear: both;
    margin: 0px 10px;
}
div.row::after{
    clear: both;
    content: "";
    display: table;
}

div[class^="col-"]{
    float: left;
}

div.col-1-2{
    text-align: center;
}


div.col-1-1{width: 100%}
div.col-1-2{width: 50%}



/* ------------------- */
/* footer styles */


footer{
    width: 100%;
}
 
footer p{
    color: whitesmoke;
    font-size: 1em;
    text-align: center;
    background-color: black;
    margin: 0px;
    padding: 10px 0px;
}
 
div.bottom {
    background-color: rgb(10, 10, 10);
    padding: 8px;
    font-size: 1em;
    line-height: 1.8em;
    color: white;
    text-align: center;
    word-spacing: 30px;
}
div.bottom a:visited, nav a:link{
    color: 	#f8f8ff;
}
div.bottom a:hover, nav a:active{
    color: gold;
}

