@charset "utf-8";


/* html stuff */
/* latin */

html{
    background: url("backbabyback.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: black;
    margin-top: 107px;
    font-family: 'Aldrich';
}

body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

span{
    color: goldenrod;
}

/* nav bar and malkes the nav follow the user  */
div.bar{
    font-family: 'Aldrich', sans-serif;
    border: 3.5px outset;
    padding: 5px;
    word-spacing: 15px;
    font-size: 20px;
    position: fixed; 
    top: 0;   
    background-color: black;
    width: 80%;
    display: block;
}
div.bar a{
    margin: 14px;
    text-decoration: none;
}

.imgnav{
    height: 65px;
    width: 70px;
}

div.bar a:visited, nav a:link{
    color: 	white;
}
div.bar a:hover, nav a:active{
    color: goldenrod;
}



article#welcome{
    display: block;
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Aldrich';
}

article#welcome p{
    font-size: 1em;
}

article h1{
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    padding: 5px;
    color: goldenrod;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

article h3{
    text-align: center;
    margin: 0;
    padding-top: 5px;
    color: black;

}

article p{
    font-size: 1.25em;
    text-align: center;
    margin: 5px;
}

article.shop{
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
    border: 7px goldenrod solid;
    color: black;
    border-right: none;
    height: 360px;
    /* height: 150px; */
}

article ul{
    padding: 0;
    color: goldenrod;
    margin: 0;
}

article li{
    list-style-type: none;
}
article#shopmw{
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
    border: 7px goldenrod solid;
    color: black;
    height: 360px;
}
article#shopmw p{
    font-size: .8em;
    margin: 0;
    padding: 0;
}

article#shopS{
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
    border: 7px goldenrod solid;
    color: black;
    border-top: none;
}

img.br{
    border-radius: 10px;
}

img#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* defines where and how to use the rows and their sizes so each one is different */
div.row{
    clear: both;
    margin-top: 0;
}
div.row1{
    clear: both;
    margin-top: none;
    border-bottom: 5px goldenrod solid;
}
div.row2{
    clear: both;
    margin-top: none;
}
div.row::after{
    clear: both;
    content: "";
    display: table;
}
div.row1::after{
    clear: both;
    content: "";
    display: table;
}
div.row2::after{
    clear: both;
    content: "";
    display: table;
}

div[class^="col-"]{
    float: left;
}

div.col-1-2{
    margin-top: 30px;
}


div.col-1-1{width: 100%;}
div.col-1-2{
    width: 50%;
    margin:0;

}
div.col-1-3{width: 33%;}
div.col-1-10{width: 10%;}
div.col-9-10{
    width: 90%;
    padding-top: 56px;
}
/* div{
    border: 1px red solid;
} */



/* ------------------- */
/* footer styles */


footer{
    width: 100%;
    background-color: black;
    border: 5px goldenrod double;
    margin-top: 15px;
}
 
footer p{
    color: whitesmoke;
    font-size: 1.25em;
    text-align: center;
    margin: 0px;
    padding: 15px 0px;
}
 
/* div.bottom {
    background-color: rgb(10, 10, 10);
    padding: 8px;
    font-size: 1em;
    line-height: 1.8em;
    color: white;
    text-align: center;
    word-spacing: 30px;
    width: 100%;
}
div.bottom a:visited, nav a:link{
    color: 	#f8f8ff;
}
div.bottom a:hover, nav a:active{
    color: gold;
} */

/* to align pics where they go to */
/* ------------------------------------------------ */


/* aligns the article on where to go */
article h1{
    text-align: center;
    font-size: 42px;
}

/* the caption of wwhat each photo is and their aligment along with font size */
figcaption{
    text-align: center;
    font-family: 'Aldrich', sans-serif;
}

figure img{
    width:50%;
    height: 50%;
    text-align: center;
    border:  grey 5px outset;
}

figure{
    margin:10px;
   
}

.zoom{
    transition: transform .2s;
}
  
.zoom:hover{
    transform: scale(1.1); 
}

/* defines where and how to use the rows and their sizes so each one is different */
div.row{
    clear: both;
    margin: 0px 10px;
}
div.row::after{
    clear: both;
    content: "";
    display: table;
}

div[class^="col-"]{
    float: left;
}

div.col-1-2{
    margin-top: 30px;
    text-align: center;
}


div.col-1-1{width: 100%}
div.col-1-2{width: 50%}



/* ------------------- */
/* footer styles */


footer{
    width: 100%;
}
 
footer p{
    color: whitesmoke;
    font-size: 1em;
    text-align: center;
    background-color: black;
    margin: 0px;
    padding: 10px 0px;
}
 
div.bottom {
    background-color: rgb(10, 10, 10);
    padding: 8px;
    font-size: 1em;
    line-height: 1.8em;
    color: white;
    text-align: center;
    word-spacing: 30px;
}
div.bottom a:visited, nav a:link{
    color: 	#f8f8ff;
}
div.bottom a:hover, nav a:active{
    color: gold;
}

/*Aside styles*/
aside h1{
    text-align: center;
    font-size: 2em;
}

/* for the buttons above the H1 */
/* ------------------------------------------------- */
button.button1{
    margin-top: 80px;
    border: outset;
    text-align: center;
    background: rgb(119, 114, 114);
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Aldrich', sans-serif;
    transition-duration: 0.4s;
}

button.button2{
    margin-top: 80px;
    border: outset;
    text-align: center;
    background: rgb(119, 114, 114);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Aldrich', sans-serif;
    transition-duration: 0.4s;
}
  
button.button1:hover{
    background: black;
    color: white;
}
button.button2:hover{
    background: white;
    color: black;
}

#themenav{
    text-align: center;
    margin-top: 100px;
}




















































/**********************************************
html{
    background-color: black;
    color: aliceblue;
    width: 100%;
}
body{
    width: 90%;
    background-color: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 111px;
}

/* nav bar and malkes the nav follow the user  */
/*******************************************

div.bar{
    font-family: 'Aldrich', sans-serif;
    border: 3.5px outset;
    margin: 10px;
    padding: 5px;
    word-spacing: 80px;
    font-size: 20px;
    position: fixed; 
    top: 0;   
    background-color: black;
}
div.bar a{
    margin: 14px;
}

.imgnav{
    height: 65px;
    width: 70px;
}

div.bar a:visited, nav a:link{
    color: 	#f8f8ff;
}
div.bar a:hover, nav a:active{
    color: gold;
}


/* to align pics where they go to */
/* ------------------------------------------------ */


/* aligns the article on where to go */
/**********************************

article h1{
    text-align: center;
    font-size: 42px;
}

/* the caption of wwhat each photo is and their aligment along with font size */
/***************************************
figcaption{
    text-align: center;
    font-family: 'Aldrich', sans-serif;
}

figure img{
    width:50%;
    height: 50%;
    align-content: center;
}

figure{
    margin:10px;
   
}

/* defines where and how to use the rows and their sizes so each one is different */
/************************************
div.row{
    clear: both;
    margin: 0px 10px;
}
div.row::after{
    clear: both;
    content: "";
    display: table;
}

div[class^="col-"]{
    float: left;
}

div.col-1-2{
    margin-top: 30px;
}


div.col-1-1{width: 100%}
div.col-1-2{width: 50%}



/* ------------------- */
/* footer styles */

/* 
footer{
    width: 100%;
}
 
footer p{
    color: whitesmoke;
    font-size: 1em;
    text-align: center;
    background-color: black;
    margin: 0px;
    padding: 10px 0px;
}
 
div.bottom {
    background-color: rgb(10, 10, 10);
    padding: 8px;
    font-size: 1em;
    line-height: 1.8em;
    color: white;
    text-align: center;
    word-spacing: 30px;
}
div.bottom a:visited, nav a:link{
    color: 	#f8f8ff;
}
div.bottom a:hover, nav a:active{
    color: gold;
}
*/

